---
- hosts: localhost
  connection: local

  tasks:
  - name: Add homebrew tap repositories
    homebrew_tap: tap={{ item }} state=present
    with_items:
      # - caskroom/cask
      - moncho/dry
      - buo/cask-upgrade

  - name: Update homebrew itself first
    homebrew: update_homebrew=yes

  - name: Install homebrew packages
    homebrew: name={{ item }}
    with_items:
      - git
      - openssl
      - wget
      - curl
      - fish
      - graphviz
      - tig
      - tmux
      - elixir
      - haskell-stack
      - neovim/neovim/neovim
      - awscli
      - rmtrash
      - exa
      - the_silver_searcher
      - rbenv
      - peco
      - dry
      - imagemagick

  - name: Install Homebrew cask packages
    homebrew_cask: name={{ item }}
    with_items:
      - java
      - android-studio
      - kindle
      - vlc
      - skype
      - docker
      - camtwist
      - obs
      - astah-community
      - google-japanese-ime
      - iterm2
      - google-chrome
      - vagrant
      - silverlight
      - flash-player
      - google-cloud-sdk
      # - discord
      # - etcher
      # - psequel
      - sequel-pro
      - visual-studio-code
      # - amazon-drive
      - kitematic
      - hyper
      - spectacle
      - clipy

  - name: visual studio code install extension
    raw: "code --install-extension {{ item }}"
    with_items:
      - vscodevim.vim
      - PeterJausovec.vscode-docker
      - castwide.solargraph
      - yzhang.markdown-all-in-one
      - dzannotti.vscode-babel-coloring
      - msjsdiag.debugger-for-chrome
      - CraigMaslowski.erb
      - ionutvmi.path-autocomplete
      - robertohuertasm.vscode-icons

  - name: setup lang env value
    file:
      src: "{{ansible_env.PWD}}/fish/lang.fish"
      dest: $HOME/.config/fish/conf.d/lang.fish
      state: link

  - name: setup n env value
    file:
      src: "{{ansible_env.PWD}}/fish/n.fish"
      dest: $HOME/.config/fish/conf.d/n.fish
      state: link

